/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MY CSS */

:root {
  --primary-color: rgb(255, 115, 0);
  --secondary-color: rgb(169, 79, 0);
  --disabled-color: rgb(99, 51, 0);
  --error-color: rgb(255, 32, 32);
  --text-color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--primary-color);
}

.loading-overlay .loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--text-color);
  border-bottom-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 10px;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -9999;
  filter: blur(2px);
  transform: scale(1.07);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  width: 90%;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
}

main .loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}

#fact,
.instruction {
  align-content: center;
  color: var(--text-color);
}

#fact {
  flex: 10%;
  flex-basis: 90px;
  font-size: 1.5em;
  font-weight: bolder;
  overflow-y: auto;
}

div.i-lo {
  flex: 1%;
  align-content: center;
}

.instruction {
  font-size: 0.75em;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 90%;
  height: 35px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  align-self: center;
  transition: background-color 0.1s;
}

.btn-primary:active {
  background-color: var(--secondary-color);
}

.btn-primary:disabled {
  background-color: var(--disabled-color);
}

.credit {
  color: var(--text-color);
  font-size: 0.75em;
  font-style: oblique;
}

.credit a {
  color: var(--text-color);
}
